$primary-color: #86e98a;
$complimentary-color: #0079ff; // #86b4e9;
$tertiary-color: #e986e5;
$ternary-color: #ff8600; // #e9bb86;
$font-color: #ff006a;

$bg-color: $primary-color; // #eaff00;
$h1-color: $font-color; //#86b4e9;
$em-color: $ternary-color; // #ff006a;

$dark-color: black;
$light-color: white;
$brown-hue: #511106;
