$primary-color: #7bc5ae;
$complimentary-color: #0079ff; // #86b4e9;
$tertiary-color: #e986e5;
$ternary-color: #ff8600; // #e9bb86;
$font-color: #ff006a;

$color-shade-darker: #003e19;
$color-shade-lighter: #028c6a;
$color-shade-lightest: #d1ede1;

$bg-color: $primary-color; // #eaff00;
$h1-color: $font-color; //#86b4e9;
$em-color: $color-shade-darker; // #ff006a;

$dark-color: black;
$light-color: white;
$brown-hue: #511106;
