@use "variables2" as v;

body {
  height: 100%;
  width: 100%;
  background-color: v.$bg-color;
  color: v.$font-color;
  font-size: 14px;
}

h1 {
  font-size: 2em;
  margin: 0.5em;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.gold-bordered {
  border: 5px ridge gold;
}

ul {
  padding: 0;
  margin: 0;
}

.no-border {
  border: 0px;
}

.center-text {
  text-align: center;
  position: relative;
}
