.section-container {
  width: 100%;
  height: 30em;
  background-color: darkblue;
  margin: 1em 0;
  display: flex;

  .description {
    font-size: 2em;
    width: 60%;
    flex-grow: 1;
  }

  .image {
    flex-grow: 1;
  }
}
.section-container:nth-child(even) {
  display: flex;
  .description {
    order: 2;
  }
}
