@use "variables2" as v;

.library {
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 40vh;
  width: 100%;
  color: v.$dark-color;

  p {
    .highlight {
      color: v.$em-color;
      font-weight: bolder;
    }
  }
  .section {
    h1 {
      font-size: 2em;
      position: relative;
      top: -0.5em;
      color: v.$h1-color;
      text-align: center;
      position: relative;
    }
    font-size: 1.5em;
    flex: 1 0;
    // height: 50%;
    margin: 3em 1em;
    padding: 0 1.5em;
    border-radius: 20px;
  }
  .about-me {
  }
  .education {
  }
  .experience {
  }
}

.neumorphism-1 {
  border-radius: 30px;
  background: #86e98a;
  box-shadow: inset 10px 10px 20px #72c675, inset -10px -10px 20px #9aff9f;
}

.neumorphism-2 {
  border-radius: 30px;
  background: #86e98a;
  box-shadow: 6px 6px 12px #72c675, -6px -6px 12px #9aff9f;
}
