.resume-click {
  display: flex;
  justify-content: flex-end;
}

.disclaimer {
  color: hsl(0, 100%, 60%);
  font-style: italic;
}

.resume-click > a {
  width: fit-content;
}

.more-readable {
  line-height: 1.9;
}
