.content-container {
  position: relative;
  height: 100%;
  width: 100%;
  color: var(--font-color);
  display: block;
}
.content-container__section {
  display: block;
  margin: 10em;
}

.content-container__section h1 {
  font-size: 5rem;
}
.content-container__section p {
  font-size: 1.2rem;
}

.wip-container {
  position: relative;
  height: 100%;
  width: 100%;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wip-container__section h1 {
  font-size: 6rem;
}

.wip-container__section p {
  font-size: 3rem;
}
