.content-container {
  position: relative;
  width: 100%;
  color: var(--font-color);
  display: flex;
  margin: 1em 10em;
  align-items: center;
}

.content-container h1 {
  font-size: 5rem;
}
.content-container .large-p {
  font-size: 1.2rem;
}
.content-container__section {
  height: 80%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.wip-container {
  width: 100%;
  color: var(--font-color);
  margin: 5rem;
}

.wip-container h1 {
  font-size: 6rem;
}

.wip-container p {
  font-size: 3rem;
}
