:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --blue: blue;
  --cyan: cyan;

  --color-sat: 0%;
  --color-hue: 0;

  --color-100: hsl(var(--color-hue), var(--color-sat), 10%);
  --color-200: hsl(var(--color-hue), var(--color-sat), 20%);
  --color-300: hsl(var(--color-hue), var(--color-sat), 40%);
  --color-400: hsl(var(--color-hue), var(--color-sat), 70%);
  --color-500: hsl(var(--color-hue), var(--color-sat), 90%);

  --font-color: var(var(--color-100));
  --bg-color: var(var(--color-500));

  --footer-color: var(--color-200);

  --link-color: var(--blue);

  --gray-100: var(--color-300);

  --mono-font: "Roboto Mono", "Courier New", Courier, monospace;
}
.dark-mode {
  --black: #fff;
  --white: #000;

  --font-color: var(--black);
  --bg-color: var(--white);

  --footer-color: var(--black);
  --link-color: var(--cyan);
}
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  color: var(--font-color);
  font-size: 14px;
  font-family: var(--mono-font);
}

h1 {
  font-size: 2rem;
}

p {
  font-family: var(--mono-font);
}

.mono-font {
  font-family: var(--mono-font);
}

.main-container {
  height: 100vh;
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  flex-direction: row;

  transition: all 0.15s ease-in-out;
}

ul {
  padding: 0;
  margin: 0;
}

.footer {
  font-size: 1rem;
  color: var(--footer-color);
  margin: 1em;
}
.footer a {
  color: var(--link-color);
}

button {
  cursor: pointer;
  padding: 0.5rem;
  width: 10rem;
  font-size: 1.2rem;
}
button:disabled {
  cursor: default;
}

/* Toggle button css */

.toggle-control {
  display: block;
  position: absolute;
  right: 0;
  padding-left: 50px;
  margin: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99999;
}
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: dodgerblue;
}
.toggle-control input:checked ~ .control:after {
  left: 30px;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 50px;
  border-radius: 12.5px;
  background-color: darkgray;
  transition: background-color 0.35s ease-out;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 12.5px;
  background: white;
  transition: left 0.15s ease-in;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.1rem;
  }

  .main-container {
    min-height: 100vh;
    height: 100%;
  }
}
