.nav-container {
  position: relative;
  font-size: 2rem;
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.nav-container__logo {
  height: 160px;
  width: 250px;
  background-color: var(--black);
  margin: 1em;
}
.nav-container__item {
  display: flex;
  align-items: flex-start;
}
.nav-container__item .item-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
}

.item-list .item-list__button {
  padding: 1em;
  background-color: var(--white);
  border: 1px solid var(--black);
  margin: 1em 0;
  font-size: 1.2rem;
}

.nav-container__item .item-list li {
  margin: 0 2px;
  padding: 2px;
}
