.top-nav {
  display: none;
}

.nav-container {
  position: fixed;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  left: 0;
}

.nav-container__logo {
  height: 200px;
  width: 200px;
  margin: 1rem auto;
}
.nav-container__logo img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.nav-container__item {
  display: flex;
  align-items: flex-start;
}
.nav-container__item .item-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
}

.item-list button {
  padding: 1em;
  color: var(--font-color);
  background-color: var(--bg-color);
  border: none;
  margin: 1em 0;
  font-size: 1.2rem;
  width: 100%;
}

.item-list__button:hover {
  color: hsl(0, 0%, 50%);
}
.item-list .active-button {
  color: hsl(0, 0%, 50%);
  box-shadow: 0 0 0 1px var(--black);
}
.nav-container__item .item-list li {
  margin: 0 2px;
  padding: 2px;
}

footer {
  display: flex;
  flex-flow: column nowrap;
}
footer .social-links {
  margin: 0 auto;
}
footer .social-links a {
  color: var(--font-color);
  margin: 0 1rem;
  height: auto;
}
footer .social-links a:hover {
  color: var(--gray-100);
}

footer .credits {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .nav-container {
    position: fixed;
    overflow-x: hidden;
    left: -300px;
    transition: left 0.5s ease-out;
    background-color: var(--white);
    height: calc(100vh - 50px);
    z-index: 5;
    top: 50px;
  }
  .nav-container__logo {
    display: none;
  }
  .top-nav {
    display: block;
    position: absolute;
    height: 50px;
    cursor: pointer;
    z-index: 99;
  }

  .top-nav .menu-button {
    border: 0;
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--gray-100);
    display: block;
    position: relative;
    margin: 2rem 0 0 1rem;
    box-shadow: 0 10px 0 0 var(--gray-100), 0 -10px 0 0 var(--gray-100);
  }

  .top-nav .menu-button.active {
    box-shadow: none;
  }

  .show-sidenav {
    left: 0px;
    width: 100%;
  }
}
