.image-container {
  position: relative;
  cursor: pointer;
  margin: 0.5rem 0;
  width: 400px;
  height: 200px;
  overflow-y: hidden;
  border: 1px solid var(--black);
}

.image-container img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  image-rendering: optimizeSpeed;
  -webkit-filter: saturate(0); /* Safari 6.0 - 9.0 */
  filter: saturate(0);
  transition: filter 0.35s ease-out;
}

.image-container .image__desc {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0);
  color: white;
  margin-bottom: -150px;
  left: 0;
  bottom: 0;
  transition: margin 0.35s ease-out;
  padding: 0 0.5rem;
}

.image-container:hover img + .image__desc,
.image-container:focus img + .image__desc {
  display: block;
  pointer-events: none;
  margin-bottom: 0px;
}
.image-container:hover img,
.image-container:focus img {
  -webkit-filter: saturate(1);
  filter: saturate(1);
}

.projects > .content__section {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.project__links > p {
  display: inline;
}

.project-container {
  margin-bottom: 1rem;
}
.project-container :is(h1, h2, h3, p) {
  margin: 0;
  padding: 0;
}

.project__links > p + p::before {
  content: "|";
  padding: 0 0.5rem;
}
