.timeline {
  --timeline-distance: 2rem;
  --timeline-padding: 1rem;
  --timeline-spacing: 5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.timeline-path {
  height: 100%;
  width: 5px;
  border-radius: 50px;
  background-color: hsl(0, 0%, 50%); /*var(--black);*/
}

.timeline-content {
  margin-top: 0;
  padding: var(--timeline-padding);
  border: 1px solid var(--black);
  min-width: fit-content;
  border-radius: 10px;
}

.left-elements > .timeline-content ~ .timeline-content {
  margin-top: var(--timeline-spacing);
}
.left-elements > .timeline-content {
  margin-right: var(--timeline-distance);
}

.right-elements > .timeline-content {
  margin-top: var(--timeline-spacing);
  margin-left: var(--timeline-distance);
}

/* .left-elements > .timeline-content::before, */
.right-elements > .timeline-content::before {
  position: absolute;
  margin-top: 1.8rem;
  content: "";
  height: 5px;
  width: 5px;
  background-color: var(--black);
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--black), 0 0 0 4px var(--white);
}

.right-elements > .timeline-content::before {
  margin-left: calc(
    (var(--timeline-distance) + var(--timeline-padding) + 0.35rem) * -1
  );
}
/* .left-elements > .timeline-content::before {
  margin-left: calc(
    var(--timeline-distance) + var(--timeline-padding) + 20.65rem
  );
} */

.timeline-content .location {
  float: right;
  padding-right: 0.25rem;
}

.content__section .duration {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}
.content__section .title {
  /* text-align: center; */
  font-weight: 700;
  font-size: 1.2rem;
}

.content__section .location {
  text-transform: capitalize;
  font-size: 1rem;
}

.content__section .subtitle {
  /* text-align: center; */
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.content__section .description {
  font-size: 1rem;
  max-width: 30rem;
  padding-left: 1rem;
  text-align: justify;
}

.content__section a {
  text-decoration: underline;
  color: var(--link-color);
}

@media screen and (max-width: 1024px) {
  .timeline {
    --timeline-distance: 0;
    --timeline-spacing: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .timeline-path {
    display: none;
  }
  .timeline-content::before {
    display: none;
  }
}
