.timeline-path {
  position: relative;
  float: left;
  left: -3rem;
  height: 100%;
  width: 5px;
  border-radius: 50px;
  background-color: hsl(0, 0%, 50%); /*var(--black);*/
}

.content__section .duration {
  font-size: 0.8rem;
}
.content__section .title {
  font-size: 1.2rem;
}

.content__section .subtitle {
  font-size: 1rem;
}

.content__section .description {
  font-size: 1rem;
}
